@model OZO.Models.PosaoOprema

@{ ViewData["Title"] = "Delete"; }

<h1>Izbriši</h1>

<h5>Jeste li sigurni da želiti izbrisati vezu "@Html.DisplayFor(model => model.IdOpremaNavigation.Naziv) - @Html.DisplayFor(model => model.IdPosaoNavigation.Naziv)"?</h5>
<div>
    <p>Informacije o vezi</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID - Oprema
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdOpremaNavigation.Naziv)
        </dd>
        <dt class="col-sm-2">
            ID - Posao
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPosaoNavigation.Naziv)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Natrag</a>
    </form>
</div>
