@model OZO.Models.PosaoOprema

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Posao - Oprema</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID - Oprema
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOpremaNavigation.Naziv)
        </dd>
        <dt class = "col-sm-2">
            ID - Posao
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPosaoNavigation.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Natrag</a>
</div>
