@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli</h1>
    <p>"OZO" projekt je web aplikacija koja nudi uslugu organiziranja različitih događaja. Projekt je napravljen u svrhu kolegija "Programsko inženjerstvo". Na projektu su radili: Marko Galić, Luka Pervan, Matija Pranjković i Branimir Bulić.
    Sama ideja aplikacije jeste da se omogući organiziranje događaja putem natječaja
    ili putem usluge koju sustav nudi, također je preko sustava moguće generirati potpune izvještaje u vidu .PDF dokumenta.</p>

    


</div>
